<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class="column">
		<h2>Physical Traveling Salesperson Problem</h2>
		<div class="column__block">
			<h3 style="text-align: center;">Upload instance</h3>
			<form style="text-align: center;"  method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input id="id_instance" type="file" class="input" name="instance">
				<input class="button" type="submit" value="Submit"/>
			</form>
		</div>
		{% if map %}
			<br>
			<p style="text-align: center;"><img src="{{ map_image }}" alt=""  width="500"/></p>
		{% endif %}
	</div>

	<div class="column">
        {% if map %}
		<h2 style="text-align:left"><a href="{% url 'ptsp_solver' %}">Solve PTSP by heuristic</a></h2>
        <br>
<!--        <h2 style="text-align:left"><a href="{% url 'ptsp_game' %}">Try yourself</a></h2>-->
<!--        <br>-->
        {% endif %}
        <h2 style="text-align:left"><a href="{% url 'ptsp_desc' %}">Read problem description</a></h2>
	</div>
</div>
{% endblock %}
</html>
