<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="main__tiles">
    	<a href="{% url 'tsp' %}" class="tile tile--tsp">
		<img class="tile__image" src="/static/images/tsp.jpg" >
		<div class="tile__content">
			<h2 class="tile__title">Traveling Salesperson</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
	<a href="{% url 'ptsp' %}" class="tile tile--ptsp">
		<img class="tile__image" src="/static/images/ptsp.png" >
		<div class="tile__content">
			<h2 class="tile__title">Physical Traveling Salesperson</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
	<a href="{% url 'saved' %}" class="tile tile--saved">
		<img class="tile__image" src="/static/images/db.jpeg" >
		<div class="tile__content">
			<h2 class="tile__title">Saved analysis</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>

	<a href="{% url 'description' %}" class="tile tile--description">
		<img class="tile__image" src="/static/images/desc.jpeg" >
		<div class="tile__content">
			<h2 class="tile__title">Algorithms descriptions</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
</div>

{% endblock %}
</html>
